.main{
    margin: 10px 0 0 0 ;
    padding: 20px;
    background-color: #535bf2;
    text-align: center;
}

h3{
    /* font-size: medium; */
    font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
}